<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star War Quote App</title>
</head>

<body>
    <h1>
        May Node and Express be with you.
    </h1>
    <h2>
        Add a quote
    </h2>


    <form action="/quotes" method="post">
        <p>
            Quotes:
                <input type="text" name="quotes" placeholder="quotes"/> <br />
            Author:
                <input type="text" name="author" placeholder="author"/> <br />
        </p>
        <button type="submit">
            Send Quotes
        </button>
    </form>
    <script src="/main.js"></script>
    <div>
        <h2>Darth Vader invades!</h2>
        <p>
            Replace first Author's quote with a quote written by Darth Vader
        </p>
        <button id="update-button">
            Replace Author's quote
        </button>
    </div>
</body>
</html>